<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/news_data?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC"/>
        <property name="username" value="#{T(de.tu.darmstadt.configuration.dbConfiguration).USER_NAME}"/>
        <property name="password" value="#{T(de.tu.darmstadt.configuration.dbConfiguration).USER_PASSWORT}"/>
    </bean>

    <bean id="JDBCNews"
          class="de.tu.darmstadt.dao.JDBCNews">
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>