<!DOCTYPE html>

<html>
<head>
    <title>Elasticsearch News Search</title>
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="js/jQuery.min.js"></script>
</head>
<body>

<div class="box">
    <h1>Elasticsearch Search</h1>
    <div class="searchbox">
        <form action="/search" method="post">
            <input type="text" name="keyword" id="search_key">
            <input type="submit" value="Search">
            <div class="search_suggest" id="search_suggest">
                <ul>
                </ul>
            </div>
        </form>
    </div>
    
    <script>
        $(function () {
            alert("hello")
        })
    </script>
</div>



</body>
</html>